html {
    display:grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background-position:bottom;
    animation-name: html;
    animation-duration: 2000000s;
}
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: blue;
    color: yellow ;
    opacity: 0.8;

}
@keyframes html {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(61200000deg); 
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(3240deg);
    }
}
@keyframes banner {
    from {
        transform: translateY(-3px);
    } to {
        transform:translateY(3px);
}
}
@keyframes banner2{
    from {
        transform: translateY(6px);
    } to {
        transform:translateY(-6px);
}
}


@media only screen and (max-width:320px) {

}
.file {
    max-width: 100%;
    max-height: auto;
    margin-left: 2.5rem;
    padding: 1px;
    border: 1px solid black;
    background-color: rgba(192, 245, 255, 0.466);
    border-radius: 2px;
    grid-row: 1;
    grid-column: 2;
}
.file1 {
    border: 2px solid black;
    margin-left: 2.5rem;
    padding: 1px;
    border-radius: 1rem;
    background-color: #fcfcfc8e;
    grid-row: 1;
    grid-column: 2;
}
    /*style*/
.nav {
   display:flexbox;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   background: #0c0909;
   font-size: 1rem;
   color: #fff;
  
   height: 10%;
   width: 100px;
   border-radius: 6px;
   transition: all 500ms;
   overflow: hidden;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat; 
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:link {
   color: rgb(167, 235, 247);
   text-decoration: none;
}
a:visited {
   color: rgb(167, 235, 247); 
   text-decoration: none;
}
.nav:hover {
   box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
   transform: translateY(-3px) scale(1.1);
   transition: ease-in-out;
   filter: hue-rotate(180deg);
   transform-origin: center;
} 
.banner {
    position:absolute;
    animation: banner 2s alternate-reverse infinite;
    z-index: 1;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    right: 11.5%;
    top: 65px;
    max-width: 200px;
    text-align: center;
    justify-content: center;
    color: white;
}
.banner_img {
    position: absolute;
    animation: banner 2s alternate-reverse infinite;
    justify-content: center;
    max-width: 200px;
    right: 9%;
    top: 3px;
}

.break {
    border-bottom: 2ps solid black;
}


