
canvas {
  position: fixed;
  top: 0;
  left: 0;
  animation: canvas 50s linear infinite;
}
 html {
  background-color: rgb(124, 250, 187);
  animation: canvas 50s linear infinite;
 }
header {
  position: absolute;
  top: 0;
  left: 1;
  animation: canvas 50s linear infinite;
  color: white;
  background-color: goldenrod;
  border: 2px solid gold;
}
h2 {
  position: center;
}
footer {
 position: absolute;
 color: red;
 bottom: 0;
}
a {
  color: red;
}
audio {
 position: absolute;
 left: 200px;
 bottom: 25px;
}
@keyframes canvas {
  from {
    filter: hue-rotate(0deg);
  } to {
    filter: hue-rotate(360deg);
  }
}